@import url(//fonts.googleapis.com/css?family=Montserrat);.Top-Bar {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    height: 75px;
    background-color: blue;
}